---
layout: default
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">About me</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %} "Want to be" A Geophysicist, exploring the beautiful and amazing Earth using physics measures.{% endif %}</h2>
    <div class="about-description">
      <p>{% if site.about-description %}{{site.about-description}}{% else %} I was graduated from Wuhan University, China, as a BS of geophysics and am now striving for a PhD degree in University of Illinois at Urbana-Champaign. This website is built for the purposes of spreading my knowledge (little but helps if I speak out, haha) and learning more systematically. {% endif %}</p>
    </div>
    <div class="hobby-description">
      <p>{% if site.hobby-description %}{{site.hobby-description}}{% else %} I am interested in geoscience research, as well as music, running, programming and a bunch of tricky things. Contact me if I can be of any help to you! No guarantee though O(∩_∩)O~~ {% endif %}</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">

        {% if site.email %}
          <li class="email"><a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i> {{site.email}}</a></li>
        {% else %}
          <li class="email"><a href="mailto:Yanchong_Li@hotmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> Yanchong_Li@hotmail.com</a></li>
        {% endif %}

        {% if site.phone %}
          <li class="phone"><a href="tel:{{site.phone}}"><i class="fa fa-phone"></i> {{site.phone}}</a></li>
        {% else %}
          <li class="phone"><a href="tel:None"><i class="fa fa-phone" aria-hidden="true"></i> None</a></li>
        {% endif %}

        {% if site.website %}
          <li class="website"><a href="http://{{site.website}}" target="_blank"><i class="fa fa-globe"></i> {{site.website}}</a></li>
        {% else %}
        <li class="website"><a href="https://lyc11776611.github.io/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i> https://lyc11776611.github.io/</a></li>
        {% endif %}

        {% if site.github %}
          <li class="github"><a href="http://github.com/{{site.github}}" target="_blank"><i class="fa fa-github"></i> github.com/{{site.github}}</a></li>
        {% else %}
          <li class="github"><a href="http://github.com/artemsheludko" target="_blank"><i class="fa fa-github" aria-hidden="true"></i> github.com/lyc11776611</a></li>
        {% endif %}

        <!--
        {% if site.twitter %}
          <li class="twitter"><a href="https://twitter.com/{{site.twitter}}" target="_blank"><i class="fa fa-twitter"></i> {{site.twitter}}</a></li>
        {% else %}
          <li class="twitter"><a href="https://twitter.com/artemsheludko_" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i> @artemsheludko_</a></li>
        {% endif %}
        -->

      </ul>
    </div>
  </div>
</div>
